html {
  height: 100%;
}
body {
  background-color: #111111;
  color: white;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainContainer {
  /* display: flex; */
  flex-direction: column;
}

.topContainer {
  flex: 0 0 8vh;
  /* border: 1px solid red ; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
}

.topLeftContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topRightContainer {
  padding-left: 80px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 20px;
}
.search {
  background-color: #474747;
  width: 400px;
  min-width: 100px;
  max-width: 600px;
  padding: 14px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.seach2 {
  display: flex;
  align-items: center;
}

.trc2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottomContainer {
  /* border: 1px solid aqua; */
  /* flex: 1; */
  display: flex;
}

.leftContainer {
  /* border: 1px solid salmn;  */
  flex: 0 0 250px;
}

.midContainer {
  /* border: 1px solid aquamarine; */
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 20px;
  background-color: #2c2c2c;
}

.rightContainer {
  /* border: 1px solid blue; */
  flex: 0 0 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.rightContainerTopChild {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.midTopContainer {
  flex: 0 0 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid sandybrown; */
}

.midTopLeftContainer {
  padding-left: 15px;
  display: flex;
  gap: 15px;
}

.midTopRightContainer {
  padding-right: 15px;
  display: flex;
  gap: 10px;
}

.midBottomContainer {
  /* border: 1px solid pink; */
  /* flex: 1; */
  overflow-y: scroll;
  height: 85vh;
}

.midBottomTopContainer {
  display: flex;
  gap: 20px;
  height: 50px;
  padding-left: 10px;
}

.mbs1 {
  border-bottom: 3px solid white;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mbs2 {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mbs3 {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.scrollitem {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background-color: #111111;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #afafaf;
  padding-right: 10px;
  padding-left: 10px;
}
.subScrollItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subScrollItemRight {
  padding-left: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.aic {
  width: 256px;
  height: 100px;
}

.z0 {
  user-select: none;
  height: 56px;
  border: 1px solid;
  border-radius: 16px;
  margin-top: 8%;
  margin-bottom: 9px;
  margin-right: 100px;
  margin-left: 10px;
  color: #5f6368;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z0 #compose-svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.z0 div {
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans";
  font-size: 0.875rem;
  letter-spacing: normal;
}

.emailOptions {
  overflow: visible;
  white-space: nowrap;
  width: 100%;
}
.inboxDiv {
  cursor: pointer;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 4%;
  height: 30px;
}
#inboxIcon {
  margin-right: 14px;
  margin-left: 30px;
}
.number {
  margin-left: 120px;
}
.starredDiv {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 30px;
}
#starrerIcon {
  margin-right: 14px;
  margin-left: 30px;
}
.snoozedDiv {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 30px;
}
#snoozedIcon {
  margin-right: 14px;
  margin-left: 30px;
}
.sentDiv {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 30px;
}
#sentIcon {
  margin-right: 14px;
  margin-left: 30px;
}
.draftsDiv {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 30px;
}
#draftsIcon {
  margin-right: 14px;
  margin-left: 30px;
}
.moreDiv {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 30px;
}
#moreIcon {
  margin-right: 14px;
  margin-left: 30px;
}
.labelDiv {
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
  font-size: larger;
}
#labelIcon {
  margin-left: 135px;
}

/* Compose */

#compose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mainComposeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendContainer {
  width: 70%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: black;
}

.headerComposeContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
}

.headerText {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.headerButtons {
  padding-right: 10px;
}

.toComposeContainer {
  display: flex;
  height: 35px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.to1 {
  padding-left: 10px;
}

.to2 {
  flex: 1;
}

.to3 {
  padding-right: 20px;
}

input[type="text"] {
  border: none;
  background: transparent;
}

input[type="text"]:focus {
  border: none;
  background: transparent;
  outline: none;
}

.subjectComposeContainer {
  display: flex;
  height: 35px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.contentComposeContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compose-body {
  border: none;
  background: transparent;
  outline: none;
  width: 95%;
  height: 100%;
}
.compose-body:focus {
  border: none;
  background: transparent;
  outline: none;
}

.buttonComposeContainer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sendButton {
  background-color: #0b57d0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  margin-left: 30px;
}